.app {

    .link {
        color: inherit;
        text-decoration: none;
        margin: 15px;
        
    }

    
}
::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}