.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        padding: 20px;
        background-color: white;

        .title {
            font-size: 24px;
            font-weight: 300;
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                max-width: 100%;
                margin: 10px 0;
                padding: 10px;
            }

            button {
                width: 40%;
                border: none;
                padding: 15px 20px;
                background-color: teal;
                color: white;
                cursor: pointer;
                margin: 15px 0;
            }

            a {
                margin: 5px 0px;
                font-size: 12px;
                text-decoration: underline;
                cursor: pointer;
            }
        }




    }










}