.featuredProducts {
  margin: 100px 130px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h1 {
      flex: 2;
      text-transform: capitalize;
      font-size: 24px;
    }

    p {
      flex: 3;
      color: gray;
      font-size: 14px;
    }
  }

  .bottom {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
  }
}

/* Estilos para tablets (768px de largura ou menos) */
@media screen and (max-width: 768px) {
  .featuredProducts {
    margin: 50px 20px; /* Ajustar margens para dispositivos com telas menores */
  }

  .top {
    flex-direction: column; /* Empilhar elementos verticalmente */
    text-align: center; /* Centralizar texto */
    margin-bottom: 30px;

    h1 {
      font-size: 20px; /* Reduzir tamanho da fonte */
    }

    p {
      font-size: 12px; /* Reduzir tamanho da fonte */
    }
  }

  .bottom {
    flex-direction: column; /* Empilhar elementos verticalmente */
    align-items: center; /* Centralizar itens */
  }
}

/* Estilos para dispositivos móveis (576px de largura ou menos) */
@media screen and (max-width: 576px) {
  .featuredProducts {
    margin: 30px 10px; /* Ajustar margens para dispositivos móveis */
  }
}
