.featuredProducts {
    margin: 100px 130px;
  
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
  
      h1 {
        flex: 2;
        text-transform: capitalize;
        font-size: 24px;
      }
  
      p {
        flex: 3;
        color:gray;
        font-size: 14px;
      }
    }
  
    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }